In [149]:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from get_dataframes import get_global_df

In [150]:
# parameters
dataset = 'adult'
sort_by = 'mu_plus'
# results_path = "../../../experiments/nyc-experiments"
results_path = "../../../experiments/12-05-2025"

global_df = get_global_df(results_path=results_path)

In [151]:
hyfd_df = global_df[global_df['algorithm'] == 'hyfd']
hyfd_df = hyfd_df[hyfd_df['dataset'] == dataset]
# Filter out rows where any metrics are 1.0
# hyfd_df = hyfd_df[~((hyfd_df['rfi_prime_plus'] == 1.0) & 
#                     (hyfd_df['mu_plus'] == 1.0) & 
#                     (hyfd_df['g3_prime'] == 1.0))]
# Sort by mu_plus in descending order
hyfd_df = hyfd_df.sort_values(by=sort_by, ascending=False)
hyfd_df.head(20)

# global_df

,algorithm,dataset,lhs_size,rfi_prime_plus,mu_plus,g3_prime,fd
1913,hyfd,adult,2,1.0,1.0,1.0,"['age', 'fnlwgt']->race"
2044,hyfd,adult,4,1.0,1.0,1.0,"['education', 'fnlwgt', 'occupation', 'relatio..."
2035,hyfd,adult,3,1.0,1.0,1.0,"['Native-country', 'fnlwgt', 'occupation']->in..."
2036,hyfd,adult,2,1.0,1.0,1.0,"['education', 'fnlwgt']->Capital-loss"
2037,hyfd,adult,3,1.0,1.0,1.0,"['education', 'fnlwgt', 'occupation']->Capital..."
2038,hyfd,adult,3,1.0,1.0,1.0,"['education', 'fnlwgt', 'occupation']->Native-..."
2039,hyfd,adult,3,1.0,1.0,1.0,"['education', 'fnlwgt', 'occupation']->workclass"
2040,hyfd,adult,3,1.0,1.0,1.0,"['education', 'fnlwgt', 'occupation']->income"
2041,hyfd,adult,4,1.0,1.0,1.0,"['Marital-status', 'education', 'fnlwgt', 'occ..."
2042,hyfd,adult,4,1.0,1.0,1.0,"['Marital-status', 'education', 'fnlwgt', 'occ..."
2043,hyfd,adult,4,1.0,1.0,1.0,"['education', 'fnlwgt', 'occupation', 'relatio..."
2045,hyfd,adult,3,1.0,1.0,1.0,"['education', 'fnlwgt', 'workclass']->Capital-..."
2033,hyfd,adult,3,1.0,1.0,1.0,"['Native-country', 'education', 'fnlwgt']->sex"
2046,hyfd,adult,3,1.0,1.0,1.0,"['education', 'fnlwgt', 'workclass']->income"
2047,hyfd,adult,3,1.0,1.0,1.0,"['Marital-status', 'education', 'fnlwgt']->Cap..."
2048,hyfd,adult,3,1.0,1.0,1.0,"['Marital-status', 'education', 'fnlwgt']->rel..."
2049,hyfd,adult,3,1.0,1.0,1.0,"['Marital-status', 'education', 'fnlwgt']->income"
2050,hyfd,adult,3,1.0,1.0,1.0,"['education', 'fnlwgt', 'relationship']->Capit..."
2051,hyfd,adult,3,1.0,1.0,1.0,"['education', 'fnlwgt', 'relationship']->income"
2052,hyfd,adult,3,1.0,1.0,1.0,"['education', 'fnlwgt', 'race']->sex"

In [152]:
fdx_df = global_df[global_df['algorithm'] == 'fdx']
fdx_df = fdx_df[fdx_df['dataset'] == dataset]
# Sort by mu_plus in descending order
fdx_df = fdx_df.sort_values(by=sort_by, ascending=False)
fdx_df.head(15)

# global_df

,algorithm,dataset,lhs_size,rfi_prime_plus,mu_plus,g3_prime,fd
231,fdx,adult,1,0.580054,0.591975,0.808143,['relationship']->Marital-status
230,fdx,adult,1,0.425988,0.414660,0.784718,['relationship']->sex
233,fdx,adult,1,0.145352,0.123332,0.865646,['Native-country']->race
232,fdx,adult,1,0.004001,0.000199,0.901503,['income']->Native-country

In [153]:
pyro_df = global_df[global_df['algorithm'] == 'pyro']
pyro_df = pyro_df[pyro_df['dataset'] == dataset]
# Sort by mu_plus in descending order
pyro_df = pyro_df.sort_values(by=sort_by, ascending=False)
pyro_df.head(15)
# pyro_df.size

# global_df

,algorithm,dataset,lhs_size,rfi_prime_plus,mu_plus,g3_prime,fd
247,pyro,adult,1,1.000000,1.000000,1.000000,['education']->Education-num
1123,pyro,adult,1,1.000000,1.000000,1.000000,['Education-num']->education
234,pyro,adult,1,0.895712,0.898654,0.979592,['fnlwgt']->race
243,pyro,adult,1,0.888286,0.890063,0.959184,['fnlwgt']->sex
266,pyro,adult,2,0.713841,0.701758,0.851466,"['age', 'relationship']->Marital-status"
532,pyro,adult,5,0.632443,0.628591,0.818854,"['income', 'race', 'relationship', 'sex', 'wor..."
325,pyro,adult,3,0.635923,0.628220,0.811663,"['Education-num', 'Hours-per-week', 'relations..."
358,pyro,adult,3,0.635923,0.628220,0.811663,"['Hours-per-week', 'education', 'relationship'..."
374,pyro,adult,3,0.631463,0.625575,0.815704,"['Education-num', 'relationship', 'workclass']..."
373,pyro,adult,3,0.631463,0.625575,0.815704,"['education', 'relationship', 'workclass']->Ma..."
1022,pyro,adult,5,0.625982,0.624836,0.817949,"['Capital-gain', 'race', 'relationship', 'sex'..."
1021,pyro,adult,5,0.634022,0.624674,0.816077,"['Native-country', 'race', 'relationship', 'se..."
504,pyro,adult,5,0.628184,0.623861,0.816301,"['Capital-loss', 'race', 'relationship', 'sex'..."
474,pyro,adult,3,0.629540,0.622340,0.815586,"['education', 'relationship', 'sex']->Marital-..."
472,pyro,adult,3,0.629540,0.622340,0.815586,"['Education-num', 'relationship', 'sex']->Mari..."

In [154]:
# Get the top 40 FDs from each algorithm
top_hyfd = set(hyfd_df.head(1000)['fd'])
top_fdx = set(fdx_df.head(1000)['fd'])
top_pyro = set(pyro_df.head(1000)['fd'])

In [155]:
list(top_hyfd.intersection(top_fdx))

[]

In [156]:
list(top_hyfd.intersection(top_pyro))

["['Education-num']->education", "['education']->Education-num"]

In [157]:
list(top_fdx.intersection(top_pyro))

[]

In [158]:
# Get the top 40 FDs from each algorithm
top_hyfd = set(hyfd_df.head(100)['fd'])
top_fdx = set(fdx_df.head(40)['fd'])
top_pyro = set(pyro_df.head(40)['fd'])

# Find the intersection of FDs that appear in all three algorithm results
common_fds = top_hyfd.intersection(top_fdx, top_pyro)

print(f"Number of common FDs across all three algorithms: {len(common_fds)}")
if len(common_fds) > 0:
    print("\nCommon FDs:")
    for fd in common_fds:
        print(f"  - {fd}")
    
    # Create a dataframe with the common FDs and their metrics from each algorithm
    common_df = pd.DataFrame(columns=['fd', 'hyfd_mu', 'fdx_mu', 'pyro_mu', 
                                     'hyfd_rfi', 'fdx_rfi', 'pyro_rfi',
                                     'hyfd_g3', 'fdx_g3', 'pyro_g3'])
    
    for fd in common_fds:
        hyfd_row = hyfd_df[hyfd_df['fd'] == fd].iloc[0]
        fdx_row = fdx_df[fdx_df['fd'] == fd].iloc[0]
        pyro_row = pyro_df[pyro_df['fd'] == fd].iloc[0]
        
        common_df = common_df.append({
            'fd': fd,
            'hyfd_mu': hyfd_row['mu_plus'],
            'fdx_mu': fdx_row['mu_plus'],
            'pyro_mu': pyro_row['mu_plus'],
            'hyfd_rfi': hyfd_row['rfi_prime_plus'],
            'fdx_rfi': fdx_row['rfi_prime_plus'],
            'pyro_rfi': pyro_row['rfi_prime_plus'],
            'hyfd_g3': hyfd_row['g3_prime'],
            'fdx_g3': fdx_row['g3_prime'],
            'pyro_g3': pyro_row['g3_prime']
        }, ignore_index=True)
    
    # Display the common FDs with their metrics
    common_df.sort_values(by='hyfd_mu', ascending=False)
else:
    # If there are no common FDs, find pairwise intersections
    hyfd_fdx = top_hyfd.intersection(top_fdx)
    hyfd_pyro = top_hyfd.intersection(top_pyro)
    fdx_pyro = top_fdx.intersection(top_pyro)
    
    print("\nPairwise intersections:")
    print(f"HyFD and FDX: {len(hyfd_fdx)} common FDs")
    print(f"HyFD and Pyro: {len(hyfd_pyro)} common FDs")
    print(f"FDX and Pyro: {len(fdx_pyro)} common FDs")
    
    # Display a few examples from each intersection if they exist
    if len(hyfd_fdx) > 0:
        print("\nSample FDs common between HyFD and FDX:")
        for fd in list(hyfd_fdx)[:5]:
            print(f"  - {fd}")
    
    if len(hyfd_pyro) > 0:
        print("\nSample FDs common between HyFD and Pyro:")
        for fd in list(hyfd_pyro)[:5]:
            print(f"  - {fd}")
    
    if len(fdx_pyro) > 0:
        print("\nSample FDs common between FDX and Pyro:")
        for fd in list(fdx_pyro)[:5]:
            print(f"  - {fd}")

Number of common FDs across all three algorithms: 0

Pairwise intersections:
HyFD and FDX: 0 common FDs
HyFD and Pyro: 1 common FDs
FDX and Pyro: 0 common FDs

Sample FDs common between HyFD and Pyro:
  - ['education']->Education-num